@model List<AdminGetArticleVM>
<br />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 mb-4">
            <!-- Dört sütunlu (md) bir grid içinde iki kart göstermek için col-md-6 kullanıyoruz ve mb-4 ile kartlar arasında boşluk ekliyoruz. -->
            <div class="card" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="@item.ImagePath" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">@item.Content.Substring(0, 150)</p>

                            @if (User.Identity.IsAuthenticated)
                            { //kiş authenticate olduysa buraya giriyor area içindekine değilse  else bloğu ile gidecek
                                <a asp-action="Detail" asp-controller="Article" asp-route-id="@item.ArticleID" asp-area="Admin">
                                    devamı için tıklayınız..
                                </a>
                            }
                            else
                            {
                                <a asp-action="Detail" asp-controller="Article" asp-route-id="@item.ArticleID" asp-area="">
                                    devamı için tıklayınız..
                                </a>
                            }

                            <p class="card-text"><small class="text-muted">Yazma Tarihi : @item.CreatedDate.ToLongDateString()</small></p>
                            <p class="card-text">Yazar :<a asp-action="UserDetail" asp-controller="AdminUser" asp-route-id="@item.AppUserID">@item.UserFullName</a></p>
                            <p class="card-text">
                                Kategori :  @foreach (var categoryName in item.CategoryName)
                                {
                                    <span>@categoryName</span>
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
